<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion">
    <select id="inicioSesion" resultType="modelo.pojo.Empleado" parameterType="map">
        SELECT * FROM empleado WHERE nombreUsuario = #{nombreUsuario} AND contraseña = #{contraseña}
    </select>
    <select id="inicioSesionCliente" resultType="modelo.pojo.Cliente" parameterType="map">
        SELECT * FROM cliente WHERE correo = #{correo} AND contraseña = #{contraseña}
    </select>
</mapper>