<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empresa">
    <insert id="registrarEmpresa" parameterType="modelo.pojo.Empresa">
        INSERT INTO empresa(nombre, nombreComercial, representante, correo, telefono, paginaWeb, RFC, estatus) 
        VALUES (#{nombre}, #{nombreComercial}, #{representante}, #{correo}, #{telefono}, #{paginaWeb}, #{RFC}, #{estatus})
    </insert>
    
    <select id="empresaPorRFC" resultType="modelo.pojo.Empresa" parameterType="String">
        SELECT * FROM empresa WHERE RFC = #{RFC}
    </select>
</mapper>
