<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">
    <insert id="agregarSucursal" parameterType="modelo.pojo.Sucursal">
        INSERT INTO sucursal(nombre, telefono, encargado, idUbicacion,idEmpresa) VALUES (#{nombre}, #{telefono}, #{encargado}, #{idUbicacion},#{idEmpresa})
    </insert>
    
    <select id="sucursalPorNombre" resultType="modelo.pojo.Sucursal" parameterType="String">
        SELECT * FROM sucursal WHERE nombre = #{nombre}
    </select>
    
    <select id="sucursalPorId" resultType="modelo.pojo.Sucursal" parameterType="int">
        SELECT * FROM sucursal WHERE idSucursal = #{idSucursal}
    </select>
    
    <select id="sucursalPorUbicacion" resultType="modelo.pojo.Sucursal" parameterType="int">
        SELECT * FROM sucursal WHERE idUbicacion = #{idUbicacion}
    </select>
    
    <select id="sucursalPorEmpresa" resultType="modelo.pojo.Sucursal" parameterType="int">
        SELECT s.nombre, s.telefono, s.encargado,u.calle AS calle, u.codigoPostal AS codigoPostal,e.nombreComercial AS nombreEmpresa FROM sucursal s JOIN empresa e ON s.idEmpresa = e.idEmpresa JOIN ubicacion u ON s.idUbicacion = u.idUbicacion
         WHERE e.idEmpresa = #{idEmpresa};
    </select>
    
    <delete id="eliminarSucursal" parameterType="map">
        DELETE FROM sucursal WHERE idSucursal = #{idSucursal}
    </delete>
    
    <update id="editarSucursal" parameterType="map">
        UPDATE sucursal SET nombre = #{nombre}, telefono = #{telefono}, encargado = #{encargado}, idUbicacion =#{idUbicacion}
         WHERE idSucursal = #{idSucursal}
    </update>
</mapper>